.App {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  /* border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.App:first-child h1 {
  margin-top: 10px;
}

.dark-mode {
  background-color: #424242;
  color: #FFFFFF;
}

h1 {
  text-align: center;
  color: #0675F9;
  font-weight: bold;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  resize: none;
  box-sizing: border-box;
  font-family: monospace;
  padding: 10px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  font-size: 14px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #0675F9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056D6;
}

.valid,
.invalid {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.valid {
  background-color: #E8F5E9;
  color: #388E3C;
}

.invalid {
  background-color: #FFEBEE;
  color: #D32F2F;
}

form {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  width: auto;
  margin-left: 10px;
}

.dark-mode-toggle {
  text-align: center;
  margin-top: 20px;
}

/* Dark mode adjustments */
.dark-mode button {
  background-color: #7986CB;
}

.dark-mode button:hover {
  background-color: #5C6BC0;
}

.dark-mode textarea,
.dark-mode input,
.dark-mode select {
  background-color: #424242;
  color: #FFFFFF;
  border: 1px solid #616161;
}

.dark-mode .valid {
  background-color: #4CAF50;
  color: #FFFFFF;
}

.dark-mode .invalid {
  background-color: #F44336;
  color: #FFFFFF;
}

.dark-mode form {
  background-color: #424242;
}

.dark-mode body {
  background-color: #424242;
}